<div align="center">
<p>&nbsp;</p>
<h1>
  PagerDuty Email to CEF router
</h1>
<p>&nbsp;</p>
<p>
<a class="btn btn-primary" href="/routing_keys/new">Register a routing key</a>
</p>
<p>
<a class="btn btn-primary" href="/routing_keys/delete">Unregister a routing key</a>
</p>
</div>