<h1>Verify your routing key</h1>
<p>&nbsp;</p>
<p>
  Cool. We sent an event to your routing key
  <pre><%= @routing_key.routing_key %></pre>
  with a verification link. Click on the link to get your new email address.
</p>
