<h1>Unverify your routing key</h1>
<p>&nbsp;</p>
<p>
  Cool. We sent an event to your routing key
  <pre><%= @routing_key.routing_key %></pre>
  with an unverification link. Click on the link to remove your routing email address.
</p>
