<h1>Routing key unverification</h1>
<p>&nbsp;</p>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <p>
      OK great. We deleted your email 
      <p><code><%= @routing_key.email %></code></p>
      and unregistered your routing key
      <p><code><%= @routing_key.routing_key %></code></p>
      You can always come back later if you want to register your routing key again and get another email address.
    </p>
  </div>
  <div class="col-md-2"></div>
</div>
